body {
	/*background-color: rgba(175, 238, 238, 0.5);*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover
}

.row {
	margin-right: 0px;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.navbar ul {
	margin: 0px;
}

.navbar ul li {
	list-style: none;
}

#left-border {
	position: fixed;
	top: 49px;
	display: block;
	border: 2px solid #2a3542;
	/*width:256px;*/
	height: 100%;
	background-color: #2a3542;
}

#left-border ul {
	padding: 0px;
}

#left-border ul li {
	list-style: none;
}

.btn-info {
	color: white;
	background-color: #2a3542;
	border-color: #2a3542;
}

.btn-info:hover {
	color: white;
	background-color: #7B7B7B;
	border-color: #7B7B7B;
}

.btn-info:focus,
.btn-info.focus {
	color: white;
	background-color: #7B7B7B;
	border-color: #7B7B7B;
}

.btn-lg {
	font-size: 15px;
	border-radius: 0px;
	margin-top: 25px;
	color: white;
}

.buttonStyle {
	width: 240px;
	top: 50px;
}

#right-border {
	position: relative;
	margin-left: 244px;
	margin-top: 50px;
	height: 1000px;
	background-color: #E0E0E0;
}