#review_table{
	position:absolute;
	left:10%;
	width:80%;
	margin-top:60px;
	border: 2px solid gray;
	background-color: white;
}
#review_table tr td{
	height: 30px;
	
}
#review_body{
	position: relative;
}
